<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Woodo: Eyes to Find Weird Things</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="../bootstrap/css/profile.css" rel="stylesheet">
    <script src="../bootstrap/js/profile.js"></script>
</head>
<body>
    <!--Source: https://www.youtube.com/watch?v=9cKsq14Kfsw&t=2980s-->
    <!--Source:https://getbootstrap.com/docs/3.3/components/#pagination-->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index"><img src="../bootstrap/image/logo.jpg"></a>
            <form class="ui-widget col-lg-5 searchBox " action = "/index">
                <input id="searchkey" type="text" placeholder="Search whatever you want ..." name = "input-search"/>
            </form>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Category
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<form action = "/index" >
						<li class="item"><input type = "submit" name="catsearch"  value="People"></li>
	                    <li><input type = "submit" name="catsearch" value = "Animals"></li>
	                    <li><input name="catsearch" type = "submit" value = "Events"></li>
					</form>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url|safe }}">{{ url_linktext }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newpost" href="/post"><b>Create New Post</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br/><br/>

    <!--Source: https://www.youtube.com/watch?v=jWgeqeJcJ0Y-->
    <div class="container-fluid">
        <div class="row profile">
            <!-- Left column of profile -->
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <div class="user-pic">
                        <img src="../bootstrap/image/user1.jpg" class="img-responsive"/>
                    </div><br/>
                    <div class="user-title">
                        <div class="user-account">
                            <h4><span>Account:</span> Anonymous</h4>
                        </div>
                        <div class="user-email">
                            <h4><span>Email:</span> {{ user.email() }}</h4>
                        </div>
                        <div class="user-button">
                            <button class="btn btn-outline-success btn-md">Follow</button>
                            <button class="btn btn-outline-danger btn-md">Message</button>
                        </div><br/>
                        <div class="user-menu">
                            <ul class="side-nav">
                                <li><a href="#section-home" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-home"></i> Home</a></li>
                                <li><a href="#section-location" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-map-pin"></i> Location</a></li>
                                <li><a href="#section-category" class="w3-bar-item w3-button w3-border-bottom"><i class="fa fa-list"></i> Subscribed Category</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right column of profile -->
            <div class="col-md-9">
                <!--Sidebar: Home-->
                <div id="section-home" class="tab-content">
                    <h3><b>Your Post History...</b></h3>
                    <div class="container-fluid padding">
                        <div class="row padding">
							{% for post in posts %}
                            <div class="col-md-4 post">
                                <div class="card">
                                    <img class="card-img-top postimage" src="/Image?img_id={{post.key.urlsafe()}}" alt="weird animal image"/>
                                    <div class="card-body">
                                        <h4 class="card-title">{{ post.title }}</h4>
                                        <p class="card-text">{{ post.content | truncate(66) }}</p>
                                        <div class="card-author">
                                            <span> {{ post.create_time.strftime('%A, %B %d, %Y') }}</span>
                                            <span> | </span>
                                            <i class="fa fa-map-pin"></i><span>Austin, TX</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
							{% endfor %}

                            <div class="col-md-4 post">
                                <div class="card">
                                    <img class="card-img-top postimage" src="../bootstrap/image/weird_animals_1.jpg" alt="weird animal image"/>
                                    <div class="card-body">
                                        <h4 class="card-title">This will be the title part</h4>
                                        <p class="card-text">This is our first post This is our first postThis is our first postThis is our first postThis is our first post</p>
                                        <div class="card-author">
                                            <span> Sunday, Jul 27, 2018</span>
                                            <span> | </span>
                                            <i class="fa fa-map-pin"></i><span>Austin, TX</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sidebar: Location-->
                <div id="section-location" class="tab-content">
                    <div id="map"></div>
					<script>
					function getlist() {
					    var temp = {{listofloc|safe}}
						// console.log(temp);
					    var listoflocation = [];
					    var i;
					    for (i=0; i<temp.length; i++){
							temploc= new google.maps.LatLng(parseFloat(temp[i]["lat"]),parseFloat(temp[i]["lon"]));
					        listoflocation.push(temploc);
					    }
					    console.log(listoflocation);
					    return listoflocation
					}

				      function initMap() {

				        var map = new google.maps.Map(document.getElementById('map'), {
				          zoom: 10,
				          center: {lat: 30.28, lng: -97.75}
				        });

				        // Create an array of alphabetical characters used to label the markers.
				        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

				        // Add some markers to the map.
				        // Note: The code uses the JavaScript Array.prototype.map() method to
				        // create an array of markers based on a given "locations" array.
				        // The map() method here has nothing to do with the Google Maps API.
						// console.log(location);
				        var markers = getlist().map(function(location, i) {
				          return new google.maps.Marker({
				            position: location,
				            label: labels[i % labels.length]
				          });
				        });

				        // Add a marker clusterer to manage the markers.
				        var markerCluster = new MarkerClusterer(map, markers,
				            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
				      }


</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrYyCvNyWcMMzRTvvmmrcr1sLfyH_sRV4&callback=initMap">
</script>
</div>

<!--Sidebar: Category-->
<div id="section-category" class="tab-content">
	<h3><b>Subscribed Categories</b></h3>
	<div class="row">



		{% if "People" in subscribed%}
		<form method="post" action="/unsub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_people_1.jpg" alt="weird people"></a>
					<div class="caption">
						<h3>People</h3>
						<p>In here, you can find all weird and fun people you want to know!</p>
						<input type="submit" name="unsubscrib" value="People" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
		{% endif%} {% if "Animals" in subscribed%}
		<form method="post" action="/unsub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_animals_1.jpg" alt="weird animals"></a>
					<div class="caption">
						<h3>Animals</h3>
						<p>Explore weird animals around the world!</p>
						<input type="submit" name="unsubscrib" value="Animals" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
		{% endif%} {% if "Events" in subscribed%}
		<form method="post" action="/unsub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_events_1.jpg" alt="weird events"></a>
					<div class="caption">
						<h3>Events</h3>
						<p>What to know some weird events? Click here!</p>
						<input type="submit" name="unsubscrib" value="Events" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
		{% endif%}
	</div>
	<hr/>

	<h3><b>Unsubscribed Categories</b></h3>
	<div class="row">
		{% if "People" not in subscribed%}
		<form method="post" action="/sub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_people_1.jpg" alt="weird people"></a>
					<div class="caption">
						<h3>People</h3>
						<p>In here, you can find all weird and fun people you want to know!</p>
						<input type="submit" name="subscrib" value="People" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
		{% endif%} {% if "Animals" not in subscribed%}
		<form method="post" action="/sub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_animals_1.jpg" alt="weird animals"></a>
					<div class="caption">
						<h3>Animals</h3>
						<p>Explore weird animals around the world!</p>
						<input type="submit" name="subscrib" value="Animals" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
		{% endif%} {% if "Event" not in subscribed%}
		<form method="post" action="/sub">


			<div class="col-sm-6 col-md-4 category">
				<div class="thumbnail">
					<a href="#"><img src="../bootstrap/image/weird_events_1.jpg" alt="weird events"></a>
					<div class="caption">
						<h3>Events</h3>
						<p>What to know some weird events? Click here!</p>
						<input type="submit" name="subscrib" value="Events" class="btn btn-primary">
					</div>
				</div>

			</div>
		</form>
		{% endif%}
	</div>
</div>
</div>
</div>
</div>
</div>

<!--Google Map API key-->

<script>
        $(document).ready(function(autotag) {
           var availableTags  =  {{autotag|safe}}
           $( "#searchkey" ).autocomplete({
              source: availableTags
           });
        });
     </script>

    <br/><br/>
    <!-- Footer -->
    <footer>
        <div class="copyright col-12"> &copy 2018 Copyright: WoodoTeam</div>
    </footer>
</body>
</html>
