<!DOCTYPE html>
{% autoescape true %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Woodo: Eye to find weird things</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
	
	{% include "layout/header.html" %}
	
    <div class="container">
	    <main role="main" class="container">
	      <h1 class="mt-5">Welcome to Woodo</h1>
	      <p class="lead">Woodo is a Eye to find weird things..</p>
	    </main>
	    
      <main role="main">
    
       <div class="row mb-2">
       {% for post in posts %}
      	 <div class="col-md-6">
	          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
	            <div class="card-body d-flex flex-column align-items-start">
	              <strong class="d-inline-block mb-2 text-primary"> <img class="user round" src="/assets/images/user.jpg"/> Anonymous</strong>
	              <h3 class="mb-0">
	                <a class="text-dark" href="#">{{ post.title }}</a>
	              </h3>
	              <div class="mb-1 text-muted">{{ post.date.strftime('%A, %B %d, %Y') }}</div>
	              <p class="card-text mb-auto">{{ post.content | truncate(70) }}</p>
	              <div class="mb-1 text-muted">Categories: {{ post.categories }}</div>
	            </div>
	           <img class="card-img-right flex-auto"  alt="weird_animals" style="width: 200px; height: 250px;" src="/assets/images/animal_{{ range(1, 4) | random }}.jpg" data-holder-rendered="true">
	          </div>
	        </div>
	     
	      {% endfor %}
	      </div>
        
        <div>&nbsp;</div>
         <div>&nbsp;</div>
      </main>
	      
    </div>
    
	{% include "layout/footer.html" %}
	 
  </body>
</html>

{% endautoescape %}
